@{
    ViewData["Title"] = "Upload";
}

<h2>Overførselsservice</h2>
<p>&nbsp;</p>
<p>
    Indlæs en fil fra dit lønsystem eller fra Excel:
</p>

<div class="row">
    <div class="col-md-6">
        <section>
            <h3>
                Indlæsning af fil
            </h3>
            <form asp-action="Upload" asp-controller="File" method="post" enctype="multipart/form-data" role="form">
                <p>V&aelig;lg fil og dokumenttype:</p>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="file" class="btn " name="file" />
                    </div>
                </div>
                <input id="async" name="async" value="false" type="hidden" />
                <div class="form-group">
                    <div class="col-md-10">
                        <select id="type" name="type" class="form-control">
                            <option Value="1">Informationsservice</option>
                            <option Value="2">Overførselsservice</option>
                            <option Value="3">Overførselsservice med Informationsoverførsler</option>
                            <option Value="4">Betalingsservice BS601</option>
                            <option Value="9">Excel</option>
                        </select>
                        <p></p>
                        <button type="submit" class="btn ">OK</button>
                    </div>
                </div>
            </form>
            <p></p>
        </section>
    </div>
</div>